@import "tailwindcss";

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('/fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-RegularItalic';
  src: url('/fonts/Gilroy-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: 'Gilroy-Medium', 'Gilroy', system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Gilroy-Medium', 'Gilroy', system-ui, sans-serif;
}
